body {
  font-family: helvetica, verdana;
  background: #ddd;
}

#container {
  width: 500px;
  margin: 40px auto;
}

h1 {
  margin: 0;
  float: left;
}

p {
  margin: 0;
}

.nav {
  float: right;
  padding-top: 20px;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
}

.room {
  background: #EB8320 url("../images/room-background.jpg") repeat-x top left;
  border: 2px solid #000;
  clear: both;
  color: #FFF;
  margin: 1px auto 0 auto;
  padding: 25px 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.dark {
  background: #000;
  color: #FFF;
}

.tooltip {
  position: absolute;
  background: #000;
  color: #FFFFFF;
  left: 90%;
  top: 5%;
  white-space: nowrap;
  padding: 5px;
  display: none;
}

#flash p {
  padding: 20px;
  background: #AF0000;
  clear: both;
  color: #FFFFFF;
  text-align: center;
}